*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style:oblique;
}
html,body{
    height: 100%;
    width:100%;
}
.main{
    background-color: lightblue;
    height: 100vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 400px;
    border-radius: 1.5rem;
    background-color: linear-gradient(135deg,#60bada,#4163a7);
    padding: 40px 20px;
    color: white;
    text-align: center;
}
.inp{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inp input{
    padding:16px 20px;
    border-radius: 2rem;
    outline: none;
    border: none;
    width: 80%;
    font-size: 18px;
}
.inp button{
    padding: 15px 20px;
    border-radius: 100%;
    outline: none;
    border: none;
    font: 18px;
}
#country{
    font-weight: 50px;
    margin-top: 40px;
}
#t{
    font-size: 50px;
    font-weight: 600;
}
#d{
    font-size: 16px;
    letter-spacing: 0.8px;
    text-transform: capitalize;
}
.two{
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.h{
    display: flex;
    align-items: center;
    font: weight 400px; 
}
.h h1{
    font-weight: 500;
    font-size: 55px;
    margin-left: 10px;
}
.inner p{
    font-size: 20px;
    margin-top: 10px;
}
#err{
    font-size: 20px;
    margin-top: 14px;
    display: none;
}